{% extends 'base.html.twig' %}

{% block title %}Pokedex!{% endblock %}

{% block body %}
<div class="min-h-screen bg-red-500 p-6 font-sans">
    
    
    <div class="flex justify-between items-center mb-6 text-white">
        <h1 class="text-2xl"> 
            Nombres de pokémon : {{ nombrePokemons }}
        </h1>
        <a href="{{ path('app_add') }}" class="bg-green-500 hover:bg-green-600 px-6 py-2 rounded text-lg transition-colors">Ajouter</a>
    </div>

    
    <div class="flex flex-col gap-4">
        {% for pokemon in pokemons %}
            
            
            <div class="bg-black flex items-center justify-between px-6 py-1 text-white shadow-md">
                
                
                <div class="flex items-center gap-12">
                    <span class="text-2xl">{{ pokemon.id }}</span>
                    <span class="text-2xl">{{ pokemon.name }}</span> 
                </div>

                
                <img src="{{ pokemon.imageURL }}" 
                     alt="Pokemon {{ pokemon.name }}" 
                     class="w-24 h-24 drop-shadow-lg">
                
            </div>

        {% endfor %}
    </div>

</div>
{% endblock %}